<ion-header>
  <ion-navbar danger>
    <ion-title>
      {{ list ? list.name : '' }}
    </ion-title>
    <ion-buttons end>
      <button (click)="showPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar light>
    <ion-segment [(ngModel)]="status" danger>
      <ion-segment-button value="pending">Pending</ion-segment-button>
      <ion-segment-button value="done">Done</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="list-details">
  
  <div *ngIf="!listItems.pending.length && !listItems.done.length" padding>
    <p text-center>There are no items on your list</p>
  </div>

  <section *ngIf="listItems.pending.length || listItems.done.length">
    
    <template ngFor let-itemStatus [ngForOf]="['pending', 'done']">
      
      <div *ngIf="status == itemStatus && !listItems[itemStatus].length" padding>
        <p text-center>{{ 'No ' + (itemStatus == 'pending' ? 'Pending' : 'Done') + ' Items' }}</p>
      </div>

      <ion-list *ngIf="status == itemStatus">
        <ion-item-group [reorder]="showReorder" (ionItemReorder)="reorderItems($event)">
          <template ngFor let-item [ngForOf]="listItems[itemStatus]" let-i="index">
          	<ion-item-sliding>
        			<ion-item>
                <ion-checkbox light [checked]="item.checked" (ionChange)="toggleCheckItem(item)" item-left></ion-checkbox>
                <ion-label>{{ item.name }}</ion-label>
                <!-- <div item-right>Qty: {{ item.qty }}</div> -->
              </ion-item>
              <ion-item-options *ngIf="!showReorder">
                <button (click)="showEditPopup(item)">
                  <ion-icon name="create"></ion-icon>
                </button>
                <button danger (click)="showDeleteActionSheet(item.$key)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </ion-item-options>
          	</ion-item-sliding>
          </template>
        </ion-item-group>
      </ion-list>

    </template>

  </section>

</ion-content>

<button fab danger fab-bottom fab-right class="fab-footer" (click)="showAddPopup()">
  <ion-icon name="add" is-active="false"></ion-icon>
</button>

<ion-footer>
  <ion-toolbar>
    <ion-title *ngIf="list && list.items">
      {{ list.items.length + ' Item' + (list.items.length != 1 ? 's' : '') }}
    </ion-title>
    <ion-buttons end>
      <!-- <button danger 
        (click)="showReorder = !showReorder" 
        *ngIf="list && list.items && !(list.items.length <= 1)">
        {{ !showReorder ? 'Reorder' : 'Done' }}
      </button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
