.list-details {
	
	.list-name,
	.add-item {

		.item-input:after {
			border-bottom: none;
		}

	}

	/* .list-name {
		padding: 16px;

		ion-list {
			margin: 0 0 16px;
		}

	} */
		
	ion-reorder {
		display: flex !important;
		transform: translateX(50px);
		transition: transform 250ms ease;
	}

	.reorder-enabled ion-reorder {
		transform: translateX(0);
	}

	.item {

		.cancel {
			float: right;
		}

	}

	.fab-footer {
		z-index: 99;
	}

}

.platform-ios {
	.segment-wrapper {
		margin: 16px;
	}
}
