<ion-content padding class="login">

	<ion-card>
        <ion-card-header>Create Account</ion-card-header>
        <ion-card-content>
            <form [formGroup]="loginForm" (submit)="register($event)">
            	<ion-list no-lines>
	                <ion-item>
	                	<ion-label floating>
	                		<ion-icon name="mail" item-left></ion-icon>
	                		Email
	                	</ion-label>
	                    <ion-input type="email" formControlName="email" [disabled]="submitted"></ion-input>
	                </ion-item>
	                <ion-item>
	                	<ion-label floating>
	                		<ion-icon name="lock" item-left></ion-icon>
	                		Password
	                	</ion-label>
	                    <ion-input type="password" formControlName="password" [disabled]="submitted"></ion-input>
	                </ion-item>
	                <ion-item>
	                	<ion-label floating>
	                		<ion-icon name="lock" item-left></ion-icon>
	                		Confirm Password
	                	</ion-label>
	                    <ion-input type="password" formControlName="confirmPassword" [disabled]="submitted"></ion-input>
	                </ion-item>
	            </ion-list>
                <div padding-top>
                    <button type="submit" danger block
                        [disabled]="!loginForm.valid || (loginForm.valid && loginForm.value.password != loginForm.value.confirmPassword) || submitted">
                        Register
                    </button>
                    <button type="submit" danger clear block
                        [disabled]="submitted"
                        (click)="viewController.dismiss()">
                        Cancel
                    </button>
                </div>
            </form>
        </ion-card-content>
    </ion-card>

</ion-content>
