.home {
	//background: url('../img/pattern.svg') 0 0 map-get($colors, 'danger');
	//background-size: cover;
	background-color: map-get($colors, 'danger');
	
	.content {
		display: flex;
		align-items: center;
		height: 100%;
		
		.logo-container {
			width: 100%;
			text-align: center;

			.logo {
				background-color: rgba(#fff, 0.5);
				width: 100px;
				height: 100px;
				border-radius: 50%;
				color: map-get($colors, 'danger');
				text-align: center;
				margin: 0 auto 20px;
				font-size: 4.6em;
				line-height: 120px;
				animation: intro-logo 500ms ease;
			}

			h1 {
				color: #fff;
				font-weight: 200;
				margin: 10px;
				animation: intro-title 1.2s ease;
			}

		}

	}

}

@keyframes intro-logo {
	
	0% {
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
	
	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}

}

@keyframes intro-title {
	
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}

}
