<ion-content class="home" scroll="false">
	
	<div class="content">
		<div class="logo-container">
			<div class="logo">
				<ion-icon name="cart"></ion-icon>
			</div>
			<h1>My Shopping List</h1>
		</div>
	</div>

</ion-content>