<ion-content #popoverContent class="popover-page">

	<ion-list no-margin>
		<ion-item (click)="showEditPopup()">Edit List</ion-item>
		<ion-item (click)="showDeleteActionSheet()">Delete List</ion-item>
	</ion-list>

</ion-content>