<ion-header>
  <ion-navbar danger hideBackButton>
    <ion-title>
      {{appName}}
    </ion-title>
    <ion-buttons end>
      <!-- <button (click)="showAddPopup()">
        <ion-icon name="add"></ion-icon>
        New List
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="lists">
  
  <section *ngIf="lists.length">

    <template ngFor let-list [ngForOf]="lists">
      <ion-card>
        <div (click)="selectList(list.$key)">
          <ion-card-header>
            <h2 class="card-title">{{ list.name }}</h2>
          </ion-card-header>
          <ion-card-content>
            {{ (list.items ? list.items.length : 0) + ' item(s)' }}
          </ion-card-content>
        </div>
        <ion-card-footer>
          <ion-row no-padding>
            <ion-col>
              <button clear danger block (click)="selectList(list.$key)">
                <ion-icon name="eye"></ion-icon>
                View
              </button>
            </ion-col>
            <ion-col>
              <button clear danger block (click)="showEditPopup(list)">
                <ion-icon name="create"></ion-icon>
                Edit
              </button>
            </ion-col>
            <ion-col>
              <button clear danger block (click)="showDeleteActionSheet(list.$key)">
                <ion-icon name="trash"></ion-icon>
                Delete
              </button>
            </ion-col>
          </ion-row>
        </ion-card-footer>
      </ion-card>
    </template>

  </section>

  <section class="alt-content-wrapper" *ngIf="!lists.length">
    <ion-grid>
      <ion-row>
        <ion-col width-80 offset-10 text-center>
          <p>You haven't created any shopping lists yet.</p>
          <br/>
          <button danger (click)="showAddPopup()">
            Create New List
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

</ion-content>

<button fab danger fab-bottom fab-right class="fab-footer" (click)="showAddPopup()">
  <ion-icon name="add" is-active="false"></ion-icon>
</button>

<ion-footer>
  <ion-toolbar>
    <ion-title start>
      {{ (lists ? lists.length : 0) + ' List(s)' }}
    </ion-title>
  </ion-toolbar>
</ion-footer>
