<ion-content class="login" padding>

    <div class="logo-container">
        <div class="logo">
            <ion-icon name="cart"></ion-icon>
        </div>
        <h1>My Shopping List</h1>
    </div>

    <ion-card>
        <ion-card-header>Sign In</ion-card-header>
        <ion-card-content>
            <form [formGroup]="loginForm" (submit)="login('email', $event)">
                <ion-list no-lines>
                    <ion-item>
                        <ion-label floating>
                            <ion-icon name="mail" item-left></ion-icon>
                            Email
                        </ion-label>
                        <ion-input type="email" formControlName="email" [disabled]="submitted"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>
                            <ion-icon name="lock" item-left></ion-icon>
                            Password
                        </ion-label>
                        <ion-input type="password" formControlName="password" [disabled]="submitted"></ion-input>
                    </ion-item>
                </ion-list>
                <div padding-top>
                    <button type="submit" danger block
                        [disabled]="!loginForm.valid || submitted">
                        Login
                    </button>
                </div>
            </form>
        </ion-card-content>
    </ion-card>
    
    <ion-row padding-left padding-right>
        <ion-col>
            <button light outline block small (click)="login('facebook')" aria-label="Sign In with Facebook">
                <ion-icon name="logo-facebook"></ion-icon>
                Facebook
            </button>
        </ion-col>
        <ion-col>
            <button light outline block small (click)="login('google')" aria-label="Sign In with Google">
                <ion-icon name="logo-google"></ion-icon>
                Google
            </button>
        </ion-col>
    </ion-row>

    <div text-center>
        <button type="button" light clear 
            [disabled]="submitted" 
            (click)="register()">
            Create Account
        </button>
    </div>

</ion-content>