.login {
	background-color: map-get($colors, 'danger');

	scroll-content {
		overflow-y: hidden;
	}

	.logo-container {
		width: 100%;
		text-align: center;
		margin: 30px 0;

		.logo {
			background-color: rgba(#fff, 0.5);
			width: 100px;
			height: 100px;
			border-radius: 50%;
			color: map-get($colors, 'danger');
			text-align: center;
			margin: 0 auto 20px;
			font-size: 4.6em;
			line-height: 120px;
		}

		h1 {
			color: #fff;
			font-weight: 200;
			margin: 10px;
		}

	}
	
	.item {
		padding-left: 0;
	}

}

.ios {
	.login .item {
		border-bottom: solid 1px #c8c7cc !important;
	}
}

.md {
	.login .item {
		border-bottom: solid 1px #c8c7cc !important;
		box-shadow: none !important;

		.item-inner {
			border-bottom: none !important;
			box-shadow: none !important;
		}

	}
}

.ios, .md {
	
	.item.input-has-focus {
		border-bottom-color: darken(#999, 15%);

		ion-label {
			color: darken(#999, 15%);
		}

	}

}
